.c-post-card {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    rgba(150, 2, 133, 1) 0%,
    rgba(1, 180, 217, 1) 100%
  );
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  &__title {
    font-weight: 700;
  }

  &:hover {
    color: white;
    cursor: pointer;
    background: linear-gradient(
      45deg,
      rgba(150, 2, 133, 1) 0%,
      rgba(1, 180, 217, 1) 100%
    );
    animation-name: zoom-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes zoom-in {
    0% {
      scale: 1;
    }
    100% {
      scale: 1.05;
    }
  }
}
