.c-footer {
  background: rgb(150, 2, 133);
  background: linear-gradient(
    45deg,
    rgba(150, 2, 133, 1) 0%,
    rgba(1, 180, 217, 1) 100%
  );
  min-height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
